{ auth =>
    [
     { module => 'Authen::Simple::LDAP',
       args   => {
                  host      => 'ldaps://company.com',
                  basedn    => 'ou=People,dc=company,dc=com',
                  # port      => 389
                 }
     },
    ]
}
