body {
  padding-top: 5px;
}
.basic {

  margin-top: 2%;

}
.tab-content {

  margin-top: 2%;

}

.adminTabDivs{

  margin-top: 2%;

}

.pageAlerts{

  display:none;

}

#userEntriesDiv{

  width: 50%;

}
